html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #f75959 50%, #ffffff 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: white;
  padding: 10px;
}

.box {
  max-width: 450px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #f75959;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;

  border-bottom: 1px solid #f1f1f1;
  align-content: center;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #f75959;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}
button:hover {
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
  height: 80px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 0 #f75959;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.btn {
  height: 3rem;
  width: 10rem;
  border-radius: 0%;
  margin: 2rem;
  font-size: 1.5rem;
}
